<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="09efc31c-b090-4d0e-b0f0-df5f8eeed065"
            Publisher="CN=Matthew"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>TestRunner.Metro</DisplayName>
    <PublisherDisplayName>Matthew</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>TestRunner.Metro</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="TestRunner.Metro.App">
        <VisualElements
            DisplayName="TestRunner.Metro"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="TestRunner.Metro"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>